# Project Settings
API_V1_STR=/api/v1
DEBUG=True

# Database
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mentorship_db

# Redis
REDIS_URL=redis://redis:6379/0

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# Taskiq Configurations
TASKIQ_DASHBOARD_TOKEN=supersecret
TASKIQ_DASHBOARD_PATH=/admin
TASKIQ_DASHBOARD_URL=http://localhost:8000/admin
TASKIQ_WORKER_RELOAD=True

